body {
  background-color: #1f1f1f;
  font-family: 'Arial', sans-serif;
  color: white;
  margin: 0;
  padding: 0;
  text-align: center;
}

.quiz-container {
  max-width: 500px;
  margin: 50px auto;
  padding: 30px;
  background-color: #2a2a2a;
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.react-logo {
  width: 80px;
  /* height: 50px; */
  margin-bottom: 10px;
}

.quiz-title {
  display: flex;
  font-size: 24px;
  letter-spacing: 3px;
  margin-bottom: 20px;
  margin-left: 30px;
}

.progress-bar-background {
  height: 8px;
  background-color: #ccc;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 20px;
}

.progress-bar-fill {
  height: 8px;
  background-color: #00bcd4;
  width: 40%; /* example: 6/15 = 40% */
  transition: width 0.3s ease;
}

.question-info {
  font-size: 14px;
  color: #aaa;
  margin-bottom: 10px;
}

.question-text {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

.answer-button {
  display: block;
  background-color: orange;
  color: black;
  border: none;
  border-radius: 25px;
  padding: 15px 20px;
  margin: 10px auto;
  width: 80%;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.answer-button:hover {
  background-color: #ffaa00;
}

.answer-button.selected {
  background-color: #00bcd4;
  color: white;
}

.timer {
  font-size: 14px;
  background-color: #333;
  display: inline-block;
  padding: 8px 14px;
  border-radius: 10px;
  margin-top: 15px;
}

.next-button {
  margin-top: 15px;
  background-color: #444;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.next-button:hover {
  background-color: #666;
}
